{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <img class="card" src="{{ item.item_image }}" height="100%" width="100%" />
        </div>
        <div class="col-md-3">
            <h3>{{ item.item_name }}</h3>
            <h4>${{ item.item_price }}</h4>
            <h6>{{ item.user }}</h6>
            <br>
            {{ item.item_desc }}
        </div>
        <div class="col-md-3">
            <a href="{% url 'food:remove-item' item.id %}" class="btn btn-danger">DELETE</a>
            <a href="{% url 'food:food' %}" class="btn btn-secondary">BACK</a>
        </div>
    </div>
    {% endblock %}
</body>

</html>